body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(13, 31%, 94%);
  font-family: "Red Hat Text", sans-serif;
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
  color: hsl(14, 43%, 17%);
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  gap: 3rem;
}
.dessertItems {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  display: block;
  width: 250px;
  height: 100%;
  border-radius: 25px;
}

.image p {
  position: absolute;
  padding: 10px 20px;
  background-color: hsl(20, 50%, 98%);
  border: 1px solid black;
  border-radius: 25px;
  bottom: -15px;
}

.dessert {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dessert p {
  font-size: 16px;
}

.dessertType {
  color: rgb(88, 88, 88);
}
.dessertName {
  font-weight: 700;
}

.dessertPrice {
  color: rgb(199, 58, 15);
  font-weight: 700;
}

.cart {
  background: hsl(20, 50%, 98%);
  height: 100%;
  min-width: 300px;
  padding: 2rem;

  border-radius: 25px;
}

.cartItems {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(199, 58, 15);
}

.cartText {
  text-align: center;
  color: hsl(7, 20%, 60%);
  font-weight: 700;
}

.cart img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

p {
  margin: 0;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .dessertItems {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cart {
    width: 100%;
    padding: 0;
  }
}
